<head>
<meta charset="UTF-8">
</head>
<a href="http://www.ual.es"><img src="http://cms.ual.es/idc/groups/public/@orgob/@gabcomunicacion/documents/imagen/imagenescudo.gif" width="100"/></a>
&nbsp;
<a href="http://iesaguadulce.es"><img src="http://www.iesaguadulce.es/centro/images/templates/dd_toysshop_34/images/logoIESAguadulce.gif" width="300"/></a>
<h1>Bienvenidos a la UAL</h1>
<h3>Bienvenidos estudiantes del IES Aguadulce al Departamento de Informática de la UAL</h3>
